@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_AuthMasterLayout.cshtml";
}
<div class="row" id="divhome">
    <form asp-action="Index" asp-controller="Home" method="post" data-ajax="true" data-ajax-update="divhome">

<label style="color:orangered;font-family:'Lucida Calligraphy';font-size:x-large">Welcome</label>
</form></div>